button#sign-in {
    border: none;
    cursor: pointer;
    background-color: lightgreen;
    border-radius: .25rem;
    border-bottom: .25rem solid green;
    font-size: 1.5rem;
    font-weight: 700;
    user-select: none;
    width: 8rem;
    height: 2rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#sign-in:hover {
    background-color: white;
    border-bottom: .25rem solid lightgray;
    transform: translateY(-.25rem);
}

button#sign-in:active {
    transform: translateY(.25rem);
}

.key {
    background-color: white;
    border: .1rem solid black;
    border-bottom: 3rem solid #8b4513;
    border-radius: .5rem;
    height: 4rem;
    width: 35rem;
    margin-bottom: -3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    z-index: var(--order);
    transition: .2s;
}

.key:hover {
    transform: translateY(-.5rem);
    border: .1rem solid black;
    border-bottom: 3rem solid #8b4513;
}

.key:active {
    transform: translateY(2rem) rotate(-1deg);
}

.key-wrapper {
    animation: slide-in-right .5s ease-in-out forwards;
    animation-delay: calc(var(--order) * 30ms);
    scroll-snap-align: start;
    transform: translateX(-40rem) scale(0.4);
    opacity: 0.1;
    animation-play-state: paused;
}

.key-wrapper.in-view {
    animation-play-state: running;
}

@keyframes slide-in-right {
    to {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}