.friend-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: green;
    margin-right: 30%;
    height: 1000px;
}

.friend-tile {
    background-color: red;
    /* width: 100px;
    height: 100px; */
    flex: 1 200px;
}