html {
    font-size: clamp(.8rem, 1.05vw, 1.05vw);
}

body {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #282828;
    color: white;
}

.midnight-mode {
    background-color: black;
    color: white;
}

header {
    height: 4.5rem;
    background-color: black;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 4.5rem;
    gap: 1rem;
}

header button {
    border: none;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: .25rem;
    border-bottom: .25rem solid #2b6cb0;
    font-size: 1.5rem;
    font-weight: 700;
    user-select: none;
    width: 8.5rem;
    height: 3.2rem;
    color: white;
}

header button:hover {
    background-color: orange;
    border-bottom: .25rem solid darkorange;
    transform: translateY(-.25rem);
}

header button:active {
    transform: translateY(.25rem);
}

header button.off {
    background-color: gray;
    border-bottom: .25rem solid gray;
    color: black;
    pointer-events: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    margin-left: 5rem;
    gap: 1rem;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.vertical-container.margin,
.chessboard.margin {
    margin-top: 4.4rem;
}

.vertical-container.gap {
    gap: 1rem;
}

nav button {
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: white;
    border: none;
    transition: color 0.4s ease-in-out;
    outline: .15rem solid black;
    font-weight: 550;
    padding: 1.3rem;
    width: 10rem;
    background-color: #2d3058;
    font-size: 1rem;
}

nav button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

nav button:hover {
    cursor: pointer;
    color: #161616;
}

nav button:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

nav button.inverse::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(-50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

nav button.inverse:hover::before {
    transform: translate3d(-50%, 50%, 0) scale3d(15, 15, 15);
}

.chessboard {
    width: 32rem;
    height: 32rem;
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(8, 4rem);
    user-select: none;
}

.chessboard .square {
    
}

.chessboard .black-square {
    background-color: tan;
}

.chessboard .white-square {
    background-color: white;
}

/* .profile-picture-box {
    width: 3rem;
    height: 3rem;
    background-color: black;
} */

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.rainbow-outline {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.rainbow-outline::before,
.rainbow-outline::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: .1rem;
    border-radius: .1rem;
    animation: 3s spin linear infinite;
}

.rainbow-outline::before {
    filter: blur(.4rem);
    opacity: 0.8;
}

header.rainbow-outline {
    width: 100vw;
    height: 4.5rem;
}

header.rainbow-outline::before,
header.rainbow-outline::after {
    padding: .1rem 0 .1rem 0;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/* puzzles */

.info-box {
    background-color: black;
    padding: 2rem;
    color: white;
    text-align: center;
}

/* friends */

.friend-box {
    gap: 1rem;
    width: 30rem;
    height: 40rem;
}

/* .friend-box .item {
    background-color: red;
    border-radius: 2rem;
    columns: 5rem;
    padding: 1rem;
} */

.item {
    background-color: red;
    border-radius: 2rem;
    columns: 5rem;
    padding: 1rem;
}