button#reset {
    border: none;
    cursor: pointer;
    background-color: red;
    border-radius: .25rem;
    border-bottom: .25rem solid darkred;
    font-size: 1.5rem;
    font-weight: 700;
    user-select: none;
    width: 2rem;
    height: 2rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#reset:hover {
    background-color: white;
    border-bottom: .25rem solid lightgray;
    transform: translateY(-.25rem);
}

button#reset:active {
    transform: translateY(.25rem);
}

.history {
    width: 10rem;
    height: 26rem;
    background-color: black;
    overflow-y: scroll;
}

.history::-webkit-scrollbar {
    display: none;
}

.history .item {
    font-size: 1.5rem;
    padding: .35rem;
    border: lightgray;
    border-radius: .5rem;
    font-weight: bold;
    margin: .25rem;
    color: black;
    background-color: green;
}

.banner {
    padding: .7rem;
    font-weight: 850;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-picture-box {
    width: 3rem;
    height: 3rem;
    background-color: black;
}