.info-box {
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    color: #482307;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    margin: 10px;
    width: fit-content;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}